@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-grey);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-green);
  font-family: "Roboto", sans-serif;
}

:root {
  --dark-green: #274c5b;
  --light-green: #7eb693;
  --yellow: #efd372;
  --grey: #d4d4d4;
  --light-grey: #f9f8f8;
  --white: #eff6f1;
  --dark-grey: #525c60;
}
