.banner__container {
  position: relative;
  display: inline-block;
  width: 100% !important;
}
.banner__container img {
  width: 100%;
}
.background {
  position: absolute;
  top: 0%;
  left: 0%;
}
.banner-data {
  max-width: 530px;
  position: absolute;
  top: 20%;
  left: 7%;
}
.banner-data h1 {
  color: var(--dark-green);
  font-weight: bolder;
  font-size: 4.7rem;
  margin: 10px 0 30px;
}
.banner-data p {
  font-size: 2rem;
  color: var(--light-green);
  font-family: "Yellowtail", sans-serif;
  margin: 0;
}
.banner-data button {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--yellow);
  border: none;
  font-weight: 700;
  font-size: 20;
  color: var(--dark-green);
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}
.banner-data button img {
  width: 19px;
}

@media screen and (max-width: 1205px) {
  .banner-data h1 {
    font-size: 4rem;
  }
  .banner-data {
    top: 15%;
  }
}
@media screen and (max-width: 1025px) {
  .banner-data h1 {
    max-width: 400px;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 900px) {
  .banner-data h1 {
    max-width: 380px;
    font-size: 38px;
    margin: 5px 0;
  }
  .banner-data {
    top: 12%;
  }
  .banner-data p {
    font-size: 24px;
  }
}
@media screen and (max-width: 620px) {
  .banner-data h1 {
    font-size: 28px;
    max-width: 280px;
  }
  .banner-data button {
    gap: 10px;
    font-weight: 600;
    font-size: 10px;
    padding: 8px;
  }
}
@media screen and (max-width: 490px) {
  .banner-data h1 {
    max-width: 230px;
    font-size: 26px;
  }
  .banner-data p {
    font-size: 18px;
  }
  .banner-data button {
    padding: 6px;
  }
  .banner-data {
    top: 6%;
  }
}

@media screen and (max-width: 390px) {
  .banner-data h1 {
    max-width: 180px;
    font-size: 18px;
  }
}
